JavaEE_Portable/workspace/TestDynWeb/WebContent/wsdl/ContactosWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://t5.ort" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://t5.ort" xmlns:intf="http://t5.ort" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://t5.ort" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="agregar">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="agregarResponse">
    <complexType>
     <sequence>
      <element name="agregarReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="listar">
    <complexType/>
   </element>
   <element name="listarResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="listarReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="listarRequest">

      <wsdl:part element="impl:listar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="agregarResponse">

      <wsdl:part element="impl:agregarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="listarResponse">

      <wsdl:part element="impl:listarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="agregarRequest">

      <wsdl:part element="impl:agregar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ContactosWS">

      <wsdl:operation name="agregar">

         <wsdl:input message="impl:agregarRequest" name="agregarRequest">

       </wsdl:input>

         <wsdl:output message="impl:agregarResponse" name="agregarResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listar">

         <wsdl:input message="impl:listarRequest" name="listarRequest">

       </wsdl:input>

         <wsdl:output message="impl:listarResponse" name="listarResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ContactosWSSoapBinding" type="impl:ContactosWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="agregar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="agregarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="agregarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="listar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="listarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ContactosWSService">

      <wsdl:port binding="impl:ContactosWSSoapBinding" name="ContactosWS">

         <wsdlsoap:address location="http://localhost:8080/TestDynWeb/services/ContactosWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
